@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color:rgba(26, 11, 46, 1);
    --bg-color2:#230E3D;
    --green-color:#00FF88;
}
/* shared style */
.section-width{
    max-width: 1600px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.heading2{
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
}
.text{
    font-size: 1rem;
    font-weight: normal;
    color: #ffffff;
    line-height: 1.5rem;
}
.primary-btn{
    padding: 0.75rem 1rem;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 10000px;
}
/* Main style */
/* header section style */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color);
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    padding: 20px;
}

.wave {
    background: linear-gradient(20deg, rgba(247,233,63,1), rgba(251,9,180,1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
.menu{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.menu li{
    list-style: none;
}
.menu li a{
    text-decoration: none;
}
.hamburger-menu{
    display: none;
    color:#ffffff;
    font-size: 2rem;
}